{% macro render_field(field) %}
<div class="mb-3">
    <label class="form-text">{{ field.label }}</label>
    {% if field.errors %}
    <dd>
        {{ field(class='form-control is-invalid', **kwargs)|safe }}
        <div class="invalid-feedback">
        {% for error in field.errors %}
            {{ error }}
            <br/>
            {% endfor %}
        </div>
    </dd>
    {% else %}
    <dd>
        {{ field(class='form-control', **kwargs)|safe }}
    </dd>
    {% endif %}
</div>
{% endmacro %}